
@{
    ViewBag.Title = "AAppTable";
    Layout = "~/Views/AdminDashLayout.cshtml";

      <link href="~/Content/TabularSheet.css" rel="stylesheet" />
}

<body style="background-color: rgba(81, 92, 82, 1)">
    <!-- ./container -->
    <div class="container" style=" background-color: #333;margin-left:10%; border-radius: 5%;
 width: 80%; height: 600px; margin-top: 6%; margin-bottom: 6%">
        <h1 style="color:white; font-family:Gabriola;">Patient Appointment Table Data</h1>
        <div style="position: absolute; height: 83%;width:74%; overflow: auto; ">
            <div style="height: 40%;">
                <table class="blue">

                    <thead style="width:250%; font-family:Gabriola; padding:10%; font-size:150%; ">
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email Address</th>
                          
                          
                            <th>Phone No</th>
                            <th>Address</th>
                            <th>Date of Birth</th>
                            <th>Gender </th>
                            <th>City</th>
                            <th>Martial Status</th>
                            <th>Emergency No</th>
                            <th>Department</th>
                            <th>Office Phone No</th>
                         
                       
                     

                            <th>Guardian Name</th>
                            <th>Guardian Phone No</th>

                        
                            
                            <th>Occupation</th>
                            <th>Consulting Dr.Name </th>
                           
                           
                            
                           
                            <th>Relationship To patient</th>
                            <th>Responsible For Patient?</th>
                            <th>
                                Action
                            </th>

                        </tr>
                    </thead>


                    <tbody id="AppointmentFormTable">

                    </tbody>
                </table>
                <script>
                    $(document).ready(function () {

                        // code to read selected table row cell data (values).

                        $.ajax({
                            type: 'GET',
                            url: "http://quickfyp61.apphb.com/api/APPOINTMENT",
                            dataType: 'json',
                            success: function (data) {
                                console.log(data);

                                var str = " ";
                                for (var i = 0; i < data.length; i++) {

                                    str += "<tr>";
                                    //         str += "<td id='r" + i + "'>" + data[i].Id + "</td>"
                                    str += "<td id='r" + i + "'>" + data[i].FirstName + "</td>"
                                    str += "<td id='r" + i + "'>" + data[i].LastName + "</td>"
                                  
                                    str += "<td id='r" + i + "'>" + data[i].Email + "</td>"
                                    str += "<td id='r" + i + "'>" + data[i].PhoneNo + "</td>"
                                    str += "<td id='r" + i + "'>" + data[i].Address + "</td>"
                                    str += "<td id='r" + i + "'>" + data[i].DOBirth + "</td>"
                                    str += "<td id='r" + i + "'>" + data[i].Gender + "</td>"
                                 
                                    str += "<td id='r" + i + "'>" + data[i].City + "</td>"
                                    str += "<td id='r" + i + "'>" + data[i].MStatus + "</td>"
                                    str += "<td id='r" + i + "'>" + data[i].Departments + "</td>"

                                    str += "<td id='r" + i + "'>" + data[i].OfcNo + "</td>"
                                    str += "<td id='r" + i + "'>" + data[i].GName + "</td>"
                                    str += "<td id='r" + i + "'>" + data[i].GPhoneNo + "</td>"
                                    str += "<td id='r" + i + "'>" + data[i].Occupation + "</td>"
                                    str += "<td id='r" + i + "'>" + data[i].CDrName + "</td>"

                                    str += "<td id='r" + i + "'>" + data[i].Responsible + "</td>"
                                    str += "<td id='r" + i + "'>" + data[i].RelationToPatient + "</td>"

                                    str += "</tr>";
                                }
                                $('#AppointmentFormTable').html(str);
                            },
                            error: function (msg) { alert(msg); }


                        });
                    });



                </script>



            </div>


            <script>
                ; (function ($) {
                    $.fn.fixMe = function () {
                        return this.each(function () {
                            var $this = $(this),
                               $t_fixed;
                            function init() {
                                $this.wrap('<div class="container" />');
                                $t_fixed = $this.clone();
                                $t_fixed.find("tbody").remove().end().addClass("fixed").insertBefore($this);
                                resizeFixed();
                            }
                            function resizeFixed() {
                                $t_fixed.find("th").each(function (index) {
                                    $(this).css("width", $this.find("th").eq(index).outerWidth() + "px");
                                });
                            }
                            function scrollFixed() {
                                var offset = $(this).scrollTop(),
                                tableOffsetTop = $this.offset().top,
                                tableOffsetBottom = tableOffsetTop + $this.height() - $this.find("thead").height();
                                if (offset < tableOffsetTop || offset > tableOffsetBottom)
                                    $t_fixed.hide();
                                else if (offset >= tableOffsetTop && offset <= tableOffsetBottom && $t_fixed.is(":hidden"))
                                    $t_fixed.show();
                            }
                            $(window).resize(resizeFixed);
                            $(window).scroll(scrollFixed);
                            init();
                        });
                    };
                })(jQuery);

                $(document).ready(function () {
                    $("table").fixMe();
                    $(".up").click(function () {
                        $('html, body').animate({
                            scrollTop: 0
                        }, 2000);
                    });
                });
            </script>



        </div>

    </div>


</body>

