
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/MainFirstLayout.cshtml";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="~/Content/ContactUsSheet.css" rel="stylesheet" />





<div class="container-fluid" style="margin-top: 3.5%; background-color: #333">


    <img src="~/OurProImages/contact.jpg" class="img" />
    <p class="p"><b>About Us</b></p>

</div>

<h1>Google Location</h1>


<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDKT9CA5_tENXT4u0L6Tt6JFpDvAgI8JjE'></script><div style='overflow:hidden;height:400px;width:1319px;'>
    <div id='gmap_canvas' style='height:400px;width:1319px;'></div>
    <style>
        #gmap_canvas img {
            max-width: none !important;
            background: none !important;
        }
    </style>
</div> <a href='https://mapswebsite.org/'>Google Map</a>
<script type='text/javascript'
        src='https://embedmaps.com/google-maps-authorization/script.js?id=9627fdfec6e2490e34721500d67b213e8d09b60f'>

</script>
<script type='text/javascript'>
function init_map() {
    var myOptions = {
        zoom: 12, center: new google.maps.LatLng(31.5246745, 74.27094929999998),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }; map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
    marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(31.5246745, 74.27094929999998) });
    infowindow = new google.maps.InfoWindow(
        { content: '<strong>Doctor Quick</strong><br>B block sabzazar<br>92 LHR<br>' });
    google.maps.event.addListener(marker, 'click', function () { infowindow.open(map, marker); });
    infowindow.open(map, marker);
} google.maps.event.addDomListener(window, 'load', init_map);</script>




